<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAETV8K1532JWR7LwSC6qNhjVZItn00dDk</string>
	<key>GCM_SENDER_ID</key>
	<string>422331683908</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.kaminoApp</string>
	<key>PROJECT_ID</key>
	<string>kamino-3ba0c</string>
	<key>STORAGE_BUCKET</key>
	<string>kamino-3ba0c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:422331683908:ios:032e3e65617606fbe7d811</string>
</dict>
</plist>